### Dictionaries

In [23]:
names = {"1000": "John","2000": "Praba","3000": "Karthik"}
print(names["1000"])
fruits = { "apple": 2.99, "orange": "3","milk": 5}
print(fruits["apple"])

John
2.99

In [41]:
employee = { "1000": "John", "2000": ["ravi","raja"], "3000": {"k1": "value1", "k2": "value2"} }
print(employee["2000"])
print(employee["2000"][1]) #employee[key][indexing]
print(employee["3000"])
print(employee["3000"]["k1"]) #employee[key][key]
print(employee["2000"][1].upper())
print(employee)

['ravi', 'raja']
raja
{'k1': 'value1', 'k2': 'value2'}
value1
RAJA
{'1000': 'John', '2000': ['ravi', 'raja'], '3000': {'k1': 'value1', 'k2': 'value2'}}

In [47]:
employee["4000"] =  "Hello"
print(employee)
employee["1000"] = "JOHN"
print(employee)

{'1000': 'JOHN', '2000': ['ravi', 'raja'], '3000': {'k1': 'value1', 'k2': 'value2'}, '4000': 'Hello'}
{'1000': 'JOHN', '2000': ['ravi', 'raja'], '3000': {'k1': 'value1', 'k2': 'value2'}, '4000': 'Hello'}

In [53]:
print(employee.keys())
print(employee.values())
print(employee.items())

dict_keys(['1000', '2000', '3000', '4000'])
dict_values(['JOHN', ['ravi', 'raja'], {'k1': 'value1', 'k2': 'value2'}, 'Hello'])
dict_items([('1000', 'JOHN'), ('2000', ['ravi', 'raja']), ('3000', {'k1': 'value1', 'k2': 'value2'}), ('4000', 'Hello')])